<link rel="stylesheet" href="/styles.css">
<h1>Login</h1>
<form method="POST">
  <input name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <button>Login</button>
</form>