<link rel="stylesheet" href="/styles.css">
<h1>Signup</h1>

<form method="POST">
  <input name="firstName" placeholder="First Name" />
  <input name="lastName" placeholder="Last Name" />
  <input name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="password" name="confirmPassword" placeholder="Confirm Password" />

  <label>
    Admin?
    <input type="checkbox" name="isAdmin" />
  </label>

  <button>Signup</button>
</form>